/*.chart {*/
/*-fx-padding: 10px;*/
/*}*/

/*.chart-content {*/
/*-fx-padding: 30px;*/
/*}*/

.chart-legend {
    -fx-background-color: transparent;
    -fx-alignment: center-right;
}

/*.chart-series-line {*/
/*-fx-stroke-width: 2px;*/
/*-fx-effect: null;*/
/*}*/

/*.default-color0.chart-series-line { -fx-stroke: #ffffff; }*/

.onHover {
    -fx-background-color: black;
}


